@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
a {
  text-decoration: none;
}
.btn {
  color: black;
}

nav {
  height: 100px;
  width: 1707px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 100px;
}
nav h1 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
}
nav button {
  width: 228px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
/* nav section styles end */

/* hero section styles  */
.group-section-container {
  width: 1707px;
  height: 652px;
  margin-bottom: 74px;
  background-image: url("assets/Hero-bg.png");
  margin-bottom: 74px;
}
.group-section-content {
  width: 80%;
  height: 652px;
  margin: 0 auto;
  text-align: center;
  padding: 26px 20px;
}
.group-section-content h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 24px;
}
.group-section-content p {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}
.group-section-content button {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.group-section-content a {
  color: white;
}
/* header part
 styles end *