@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
}
  /*nav part start*/
nav{
    height: 100px;
  width: 1326px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 52px;
}

nav h1{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono", monospace;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
nav button{

width: 228px;
height: 58px;
left: 1046px;
top: 38px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 22px 15px 22px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;

}
.btn{
    color: black;
text-decoration: none;

}
  /*nav part end*/
  
    /*hero part start*/
.group-container{

    margin-bottom: 74px;
    background-image: url("../afrin_assignment-1/assets/Hero-bg.png");
    margin-bottom: 78px;
    position: absolute;
    width: 1440px;
    height: 652px;
    left: 0;
    right: 0;top: 131px;
    bottom: 4462px;
  } 
  .group-content{
  text-align: center;
  padding: 26px 21px;
  width: 90%;
  height:240px;
  margin: 0 auto;
  }
  .group-content h1{
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
  }
  .group-content p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
  }
  .group-content button{
    background: rgb(13, 19, 33);
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 208px;
  height: 66px;
  border-radius: 8px;
  
  }
  /*hero part end*/